.custom-navbar {
    background-color:#660000 !important; /* Dark Gray */
  }
  
  .custom-navbar .navbar-brand,
  .custom-navbar .nav-link {
    color: rgb(255, 255, 255) !important;
  }
  
  .custom-navbar .nav-link:hover {
    color:rgb(243, 144, 144)!important; /* Yellow on hover */
  }
  .custom-navbar{
    width: 100%;
  }
  
  .navbar-brand {
    font-size: 28px !important; /* Change the font size */
    font-weight: bold; /* Optional: Make it bold */
    color: white !important; /* Optional: Change text color */
    font-style: italic;
  }

.custom-dropdown{
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
}
.levelOne{
  
  color: rgb(0, 0, 0);
}
.levelOne :hover{
  background-color: #d16b6b;

}

.fsize {
  font-size: 17px;
  font-weight: 500;
}

@media (max-width: 768px) {
  .custom-navbar {
    flex-direction: column;
    text-align: center;
  }
}